
.DS_Store
/build
/captures
.externalNativeBuild
.gradle

# Intellij IDEA (see https://intellij-support.jetbrains.com/entries/23393067)
/.idea/datasources.xml
/.idea/dataSources.ids
/.idea/libraries/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/CommitMessageTemplateConfig.xml
*.iml
*.iws
/local.properties

/.idea/sonarlint/issuestore
/.idea/inspectionProfiles/
.idea/fileTemplates/includes/
